<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291836475015-raskmdr6sbnvplmt7v9a1oomrb32e2eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291836475015-raskmdr6sbnvplmt7v9a1oomrb32e2eu</string>
	<key>API_KEY</key>
	<string>AIzaSyBHiIKvlhb7zT1WVffmbMFzlkaWw05IXCI</string>
	<key>GCM_SENDER_ID</key>
	<string>291836475015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.staff.task</string>
	<key>PROJECT_ID</key>
	<string>staff-task</string>
	<key>STORAGE_BUCKET</key>
	<string>staff-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291836475015:ios:ebcecc862a243943142a22</string>
	<key>DATABASE_URL</key>
	<string>https://staff-task.firebaseio.com</string>
</dict>
</plist>